.footer {
  padding: 30px 15px;
  background-color: #0f1e3d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.footer-left {
  font-weight: 300;
  font-size: 13px;
}

.footer-logo {
  margin-bottom: 25px;
  display: inline-block;
}

.footer-nav {
  font-weight: 500;
}

.footer-nav__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 17px;
}

.footer-nav__item {
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
  color: #fff;

  &:hover {
    color: dodgerblue;
  }
}

.footer-partner {
  max-width: 51%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}

.footer-partner__item {
  margin: 0 7px 20px;
}

.footer-copy {
  margin-top: 30px;
  font-weight: 300;
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 55px;
    padding-right: 55px;
  }
  .footer-nav {
    padding-left: 85px;
    padding-right: 85px;
    flex-shrink: 0;
  }
}

@media (min-width: 1270px) {
  .footer-left {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1269px) {
  .footer-left {
    width: 50%;
  }
  .footer-nav {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .footer-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-partner {
    margin-left: auto;
  }
}
