.menu {
  line-height: 1;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-link {
  color: #265dab;
  position: relative;

  &:hover {
    color: #bc0107;
  }
}

.menu-item__parent {
  position: relative;

  > .menu-link::before {
    border: 10px solid transparent;
    border-top-color: #265dab;
    position: absolute;
    z-index: 31;
    content: '';
  }
}

.menu-dropdown {
  padding: 15px;
  font-size: 16px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 30;
  border-top: 10px solid #f1f3f9;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.menu-dropdown__item:not(:last-child) {
  margin-bottom: 15px
}

.menu-dropdown__link {
  white-space: nowrap;
}

.menu-toggle {
  width: 42px;
  height: 42px;
  margin-top: 15px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: block;
  transition: .3s ease-in-out;
  position: relative;

  &::after,
  &::before {
    width: 35px;
    height: 5px;
    background-color: #2d2d2d;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-radius: 2px;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    will-change: transform, box-shadow;
  }

  &::before {
    box-shadow: 0 10px #2d2d2d, 0 -10px #2d2d2d;
  }

  &:focus {
    outline: none;
  }
}

.menu-opened {
  .menu-toggle {
    &::before {
      box-shadow: none;
    }

    &::after {
      transform: translateX(0) rotate(-90deg);
    }
  }

  .nav-menu {
    transform: translateX(0);
  }
}

@media (min-width: 1270px) {
  .menu-toggle {
    display: none;
  }
  .nav-menu {
    padding-top: 15px;
  }
  .menu {
    display: flex;
  }
  .menu-item:not(:last-child) {
    margin-right: 55px
  }
  .menu-item__parent {
    > .menu-link {
      &::before {
        border-width: 5px;
        top: 100%;
        right: 0;
        transition: border-top-color .3s;
      }

      &:hover::before {
        border-top-color: #bc0107;
      }
    }

    &:hover .menu-dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@media (max-width: 1269px) {
  .nav-menu {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    background-color: rgba(#000, .5);
    transform: translateX(-100%);
    will-change: transform;
    transition: transform .3s ease-out;
  }
  .menu {
    width: 80%;
    height: inherit;
    padding: 30px 15px;
    background-color: #fff;
    border-left: 1px solid #eee;
  }
  .menu-item {
    border-bottom: 1px solid #265dab;
  }
  .menu-link {
    padding: 15px 15px;
    display: block;
  }
  .menu-item__parent > .menu-link::before {
    top: 16px;
    right: 15px;
  }
}
