<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вести рама</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#265dab">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#f1f3f9">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#f1f3f9">
</head>
<body>
<div class="container">
    <div class="bar">
        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/art.png" class="bar-box__media-img" alt=""></div>
            <div>
                «Ночь искmусств».<br>
                Подробная программа
            </div>
        </a>

        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/figure.png" class="bar-box__media-img" alt=""></div>
            <div>
                9 умопомрачительных<br>
                образов для холодной зимы
            </div>
        </a>

        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/restaurant.png" class="bar-box__media-img" alt=""></div>
            <div>
                Ресторан "Александр"
            </div>
        </a>
    </div>

    <header class="header">
        <a href="#" class="header-logo"><img src="img/logo.png" alt=""></a>
        <ul class="menu list-unstyled">
            <li class="menu-item menu-item__parent">
                <a href="#" class="menu-link">вести оренбуржья</a>

                <ul class="menu-dropdown list-unstyled">
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item__parent">
                <a href="#" class="menu-link">телепередачи</a>

                <ul class="menu-dropdown list-unstyled">
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                </ul>
            </li>

            <li class="menu-item"><a href="#" class="menu-link">радио</a></li>

            <li class="menu-item"><a href="#" class="menu-link">филиал вгтрк</a></li>
        </ul>

        <form action="/" class="header-search">
            <label class="sr-only" for="search__field">Поиск по сайту</label>
            <input type="search" id="search__field" class="header-search__field hide-placeholder" placeholder="Поиск">
            <button type="submit" class="header-search__btn"></button>
        </form>
    </header>

    <div class="carousel-section">
        <div class="carousel-section__social">
            <div>Популярное в нашем instagram <a href="#" class="carousel-section__social-link">vestiorenburg</a></div>
        </div>

        <div class="carousel-section__news">
            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-01.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-02.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-03.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-04.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-05.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="info-cause">
        <a href="#"><img src="img/example/info-inner.jpg" alt=""></a>
    </div>

    <div class="news-wrapper">
        <aside class="news-feed">
            <a href="#" class="news-feed__head">ЛЕНТА НОВОСТЕЙ</a>

            <ul class="news-feed__list list-unstyled">
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:36</div>
                    <a href="#" class="news-feed__item-title">Оренбуржье лидирует по количеству «раскрытых» эскроу-счетов</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:28</div>
                    <a href="#" class="news-feed__item-title">Световую опору на ул. Терешковой едва не снес троллейбус</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:27</div>
                    <a href="#" class="news-feed__item-title">Возмущенные жители ул. Лесозащитной Оренбурга жалуются на стихийный рынок</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:17</div>
                    <a href="#" class="news-feed__item-title">Роман Егоров стал игроком оренбургского «Нефтяника»</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:14</div>
                    <a href="#" class="news-feed__item-title">Денис Паслер обязал муниципалитеты ликвидировать несанкционированную торговлю за 10 дней</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:06</div>
                    <a href="#" class="news-feed__item-title"> Число бюджетных мест в Оренбургском педуниверситете в новом учебном году вырастет на 16%</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:55</div>
                    <a href="#" class="news-feed__item-title">В мэрии рассказали, что будет с предпринимателями закрытого Славянского базара</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:39</div>
                    <a href="#" class="news-feed__item-title">От коронавируса скончался мужчина из Бугурусланского района</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:00</div>
                    <a href="#" class="news-feed__item-title">Житель Оренбурга потерял 320 000 рублей на продаже автомобилей</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">13:11</div>
                    <a href="#" class="news-feed__item-title">Банки снижают размер первоначального взноса по ипотеке с господдержкой</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">13:08</div>
                    <a href="#" class="news-feed__item-title">Жара и гроза: оренбургские синоптики озвучили прогноз на сутки</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">13:06</div>
                    <a href="#" class="news-feed__item-title">Еще 118 оренбуржцев заболели коронавирусом</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">12:57</div>
                    <a href="#" class="news-feed__item-title">В знаменитом селе Жёлтом скоро появится долгожданный Дом культуры</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">12:43</div>
                    <a href="#" class="news-feed__item-title">В Мемориальном музее-гауптвахте Т. Шевченко представлена обновленная экспозиция «Годы беззакония»</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">12:30</div>
                    <a href="#" class="news-feed__item-title">Один из дворов в Степном районе Оренбурга ожидает масштабное преображение</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">12:24</div>
                    <a href="#" class="news-feed__item-title">Оренбуржцев предупреждают о новой схеме мошенничества</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">12:00</div>
                    <a href="#" class="news-feed__item-title">Почти каждый четвертый россиянин считает, что молодость длится до 35 лет</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">11:45</div>
                    <a href="#" class="news-feed__item-title">В Сорочинске водитель мопеда не справился с управлением, чем спровоцировал ДТП </a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">11:38</div>
                    <a href="#" class="news-feed__item-title">В Новосергиевском районе возбуждено уголовное дело по факту порчи земли нефтяными отходами </a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">11:15</div>
                    <a href="#" class="news-feed__item-title">В Кваркенском районе 3-летняя малышка прокусила пакетик с ядом</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">11:08</div>
                    <a href="#" class="news-feed__item-title">Оренбургские степи продолжают гореть: данные за последние сутки</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">21:45</div>
                    <a href="#" class="news-feed__item-title">Депутаты Госдумы попросили спортинстанции оставить «Оренбург» в РПЛ</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">21:19</div>
                    <a href="#" class="news-feed__item-title">Система-112 в сентябре заработает во всем Оренбуржье</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">21:11</div>
                    <a href="#" class="news-feed__item-title">«Оренбургские пассажирские перевозки» выплатили долги по зарплате</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">20:49</div>
                    <a href="#" class="news-feed__item-title">В Оренбуржье введут универсальную карту жителя области</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">20:30</div>
                    <a href="#" class="news-feed__item-title">В Оренбурге началось благоустройство четырех дворов по нацпроекту</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">20:30</div>
                    <a href="#" class="news-feed__item-title">«Природа» не обязана вывозить крупный мусор с контейнерных площадок</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">20:04</div>
                    <a href="#" class="news-feed__item-title">Пожарные и дорожники тяжелее всего переносят жару в Оренбуржье</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">19:36</div>
                    <a href="#" class="news-feed__item-title">Фитнес-центры Оренбуржья по-прежнему остаются закрытыми</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">19:13</div>
                    <a href="#" class="news-feed__item-title">Паслер отложил открытие курорта в Соль-Илецке еще на две недели</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">18:35</div>
                    <a href="#" class="news-feed__item-title">Режим повышенной готовности в Оренбуржье продлен до 2 августа</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:58</div>
                    <a href="#" class="news-feed__item-title">Марош Ковачик вновь возглавил оренбургскую «Надежду»</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:43</div>
                    <a href="#" class="news-feed__item-title">Минобр заявил о начале учебного года в Оренбуржье в обычном режиме</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">17:19</div>
                    <a href="#" class="news-feed__item-title">Ташлинский район готов к эвакуации в случае ухудшения обстановки</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">16:34</div>
                    <a href="#" class="news-feed__item-title">В Оренбуржье от коронавируса скончался 48-летний бузулучанин</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">16:30</div>
                    <a href="#" class="news-feed__item-title">Безработица не будет расти: основатель SuperJob оценил ситуацию на рынке труда</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">16:24</div>
                    <a href="#" class="news-feed__item-title">В Оренбургской области за сутки поставили 115 COVID-диагнозов</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">16:16</div>
                    <a href="#" class="news-feed__item-title">В Оренбуржье 17 июля от коронавируса скончался еще один человек</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">16:15</div>
                    <a href="#" class="news-feed__item-title">Государственный архив Оренбуржья в проекте «Голоса Победы» расскажет о покупке самолетов и танков</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:38</div>
                    <a href="#" class="news-feed__item-title">В Оренбуржье выполнено более четверти запланированных дорожных работ</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:33</div>
                    <a href="#" class="news-feed__item-title">Отключение электричества в Орске 20 июля </a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:32</div>
                    <a href="#" class="news-feed__item-title">На подстанции в Новосергиевке начата реконструкция</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:27</div>
                    <a href="#" class="news-feed__item-title">Отключение водоснабжения в Оренбурге 19 июля </a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">15:11</div>
                    <a href="#" class="news-feed__item-title">Отключение электричества в Оренбурге с 18 по 20 июля </a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:53</div>
                    <a href="#" class="news-feed__item-title">«Оренбургэнерго» призывает жителей соблюдать осторожность во время грозы</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:50</div>
                    <a href="#" class="news-feed__item-title">В селе Яфарово осенью появится новый ФАП</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:46</div>
                    <a href="#" class="news-feed__item-title">В Оренбуржье разыскивают мужчину, подозреваемого в убийстве</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:43</div>
                    <a href="#" class="news-feed__item-title">Новый приказ Минздрава изменил организацию диспансерного наблюдения за взрослыми онкобольными</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:29</div>
                    <a href="#" class="news-feed__item-title">«Росводоканал Оренбург» напоминает о дистанционном обслуживании потребителей</a>
                </li>
                <li class="news-feed__item">
                    <div class="news-feed__item-time">14:29</div>
                    <a href="#" class="news-feed__item-title">Студенты осваивают азы профессии электроэнергетика на объектах «Оренбургэнерго»</a>
                </li>
            </ul>

            <div class="news-feed__control">
                <a href="#" class="news-feed__control-btn btn-primary btn">все новости</a>
            </div>
        </aside>

       <aside class="news-section-center">
           <div class="top-news">
               <a href="#" class="top-news-head">ГЛАВНОЕ</a>

               <ul class="top-news-list list-unstyled">
                   <li class="top-news-item">
                       <a href="#" class="top-news-link">
                           Перспективные оренбуржцы борются за место в кадровом резерве области
                       </a>
                   </li>
                   <li class="top-news-item">
                       <a href="#" class="top-news-link">
                           «Сарматы » обыграли «Алтай»
                           в матче нового хоккейного
                           сезона
                       </a>
                   </li>
                   <li class="top-news-item">
                       <a href="#" class="top-news-link">
                           Уборкой Оренбурга займется
                           современная коммунальная
                           техника
                       </a>
                   </li>
                   <li class="top-news-item">
                       <a href="#" class="top-news-link">
                           В Оренбурге начали подачу
                           тепла социальным
                           учреждениям
                       </a>
                   </li>
               </ul>
           </div>

           <div class="video-news">
               <a href="#" class="video-news-item component-video-square">
                   <img src="img/example/video-news-01.png" alt="">
                   <div class="video-news-inner">
                       <div class="video-news-title">
                           В областной драме предпремьера смелой постановки
                       </div>
                   </div>
               </a>
               <a href="#" class="video-news-item component-video-square">
                   <img src="img/example/video-news-02.png" alt="">
                   <div class="video-news-inner">
                       <div class="video-news-title">
                           В областной драме предпремьера смелой постановки
                       </div>
                   </div>
               </a>
               <a href="#" class="video-news-item component-video-square">
                   <img src="img/example/video-news-03.png" alt="">
                   <div class="video-news-inner">
                       <div class="video-news-title">
                           65% компаний готовы взять на работу специалистов без опыта
                       </div>
                   </div>
               </a>
           </div>
       </aside>

        <aside class="news-section-right">
            <div>
                <a href="#" class="news-section-main__head"><span class="text-bold">ВЕСТИ ОРЕНБУРЖЬЯ</span> / Выпуск 20:45</a>
                <a href="#" class="news-section-main__video"><img src="img/example/video-news-04.png" alt=""></a>
            </div>

            <div>
                <a href="#" class="news-stories__head">популярные сюжеты</a>
                <div class="news-stories">
                    <a href="#" class="news-stories__item">
                        <div class="news-stories__text">
                            <div class="text-bold">До трех млн рублей</div>
                            на создание своего хозяйства
                        </div>
                        <div class="news-stories__media"><img src="img/example/prev-01.jpg" alt=""></div>
                    </a>
                    <a href="#" class="news-stories__item">
                        <div class="news-stories__text">
                            <div class="text-bold">На спуске к Уралу</div>
                            гранит когда оренбуржцы оценят результаты ремонта
                        </div>
                        <div class="news-stories__media"><img src="img/example/prev-02.jpg" alt=""></div>
                    </a>
                    <a href="#" class="news-stories__item">
                        <div class="news-stories__text">
                            <div class="text-bold">До трех млн рублей</div>
                            на создание своего хозяйства
                        </div>
                        <div class="news-stories__media"><img src="img/example/prev-03.jpg" alt=""></div>
                    </a>
                    <a href="#" class="news-stories__item">
                        <div class="news-stories__text">
                            <div class="text-bold">В Оренбурге снова</div>
                            просела плитка над «Атриумом»
                        </div>
                        <div class="news-stories__media"><img src="img/example/prev-04.jpg" alt=""></div>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>

<script src="js/scripts.js"></script>
</body>
</html>