<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вести рама</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#265dab">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#f1f3f9">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#f1f3f9">
</head>
<body>
<div class="container">
    <div class="bar">
        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/art.png" class="bar-box__media-img" alt=""></div>
            <div>
                «Ночь искmусств».<br>
                Подробная программа
            </div>
        </a>

        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/figure.png" class="bar-box__media-img" alt=""></div>
            <div>
                9 умопомрачительных<br>
                образов для холодной зимы
            </div>
        </a>

        <a href="#" class="bar-box">
            <div class="bar-box__media"><img src="img/example/restaurant.png" class="bar-box__media-img" alt=""></div>
            <div>
                Ресторан "Александр"
            </div>
        </a>
    </div>

    <header class="header">
        <a href="#" class="header-logo"><img src="img/logo.png" alt=""></a>
        <ul class="menu list-unstyled">
            <li class="menu-item menu-item__parent">
                <a href="#" class="menu-link">вести оренбуржья</a>

                <ul class="menu-dropdown list-unstyled">
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт меню</a></li>
                </ul>
            </li>

            <li class="menu-item menu-item__parent">
                <a href="#" class="menu-link">телепередачи</a>

                <ul class="menu-dropdown list-unstyled">
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                    <li class="menu-dropdown__item"><a href="#" class="menu-dropdown__link">Подпункт телепередачи</a></li>
                </ul>
            </li>

            <li class="menu-item"><a href="#" class="menu-link">радио</a></li>

            <li class="menu-item"><a href="#" class="menu-link">филиал вгтрк</a></li>
        </ul>

        <form action="/" class="header-search">
            <label class="sr-only" for="search__field">Поиск по сайту</label>
            <input type="search" id="search__field" class="header-search__field hide-placeholder" placeholder="Поиск">
            <button type="submit" class="header-search__btn"></button>
        </form>
    </header>

    <div class="carousel-section">
        <div class="carousel-section__social">
            <div>Популярное в нашем instagram <a href="#" class="carousel-section__social-link">vestiorenburg</a></div>
        </div>

        <div class="carousel-section__news">
            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-01.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-02.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-03.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-04.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>

            <div class="carousel-section__news-item">
                <div class="carousel-section__news-inner">
                    <img src="img/example/news-05.jpg" alt="">
                    <a href="#" class="carousel-section__news-link">
                        <div class="carousel-section__news-title">
                            Оренбургского полицейского подозревают в крупном взяточничестве
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

info-inner.jpg

<script src="js/scripts.js"></script>
</body>
</html>