.blockquote-section {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #b7bfd1;
}

.blockquote-cite {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.blockquote-cite__user-pick {
  width: 79px;
  margin-right: 15px;
}

.blockquote-cite__content {
  display: flex;
  flex-direction: column;
}

.blockquote-cite__text {
  font-size: 15px;
}

.blockquote-content {
  padding: 0 50px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    font-size: 102px;
    line-height: 1;
    color: #6583b6;
    font-weight: 700;
  }

  &::before {
    top: -26px;
    left: 0;
    content: '“';
  }

  &::after {
    bottom: -70px;
    right: 0;
    content: '”';
  }
}
