.poll-title {
  padding: 10px 15px;
  color: #fff;
  background-color: #001438;
}

.poll-box {
  padding: 25px 15px 15px;
  background-color: #e4e8f3;
}

.poll-box__item {
  margin-bottom: 25px;
  font-size: 18px;
}

.poll-box__button {
  width: 100%;
  border-radius: 0;
}