@import "vendors/bootstrap/reboot";
@import "vendors/bootstrap/screenreaders";
@import "vendors/slick/slick";
@import "base/mixin";
@import "base/general";
@import "base/custom-control";
@import "base/bar";
@import "base/header";
@import "base/menu";
@import "blocks/carousel-section";
@import "blocks/news";
@import "blocks/special-projects";
@import "blocks/scene-section";
@import "blocks/blockquote";
@import "blocks/our-face";
@import "blocks/poll";
@import "blocks/opinion";
@import "base/footer";

.section-block-media {
  padding-left: 10px;
  width: 33.5%;
}

.section-block__info {
  margin-bottom: 40px;
}

@media (min-width: 1270px) {
  .section-block {
    width: 66.5%;
  }

  .section-block-pre__footer {
    padding-left: 10px;
    width: 33.5%;
  }
}

@media (max-width: 1269px) {
  .section-block {
    width: 100%;
    margin-bottom: 15px;
  }
}
